<template name="create">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 form-group">
          <h3 class="create-title">Create properties</h3>
        </div>
        <div class="col-xs-6 form-group">
          <textarea placeholder="Insert json object" class="form-control" rows="20" id="propertiesToCreate"></textarea>
        </div>
        <div class="col-xs-6 form-group">
          <button id="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
  </div>
</template>
