.detail-div {
  margin: 20px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 50%;
  margin: auto;
}

.detail-characteristics-div {
  width: 100%;
  padding: 10px;
}

.detail-characteristics-owner-div {
  width: 30%;
  border: solid 1px #6E6E6E;
  box-shadow: 10px 10px 5px #888888;
  display: inline-block;
}

.detail-button {
  border-radius: 2px;
  padding: 5px;
  width: 80%;
  background-color: white;
  border: 1px solid #D1D3D4;
  margin: 5px;
}

.detail-description-div {
  margin-left:5%;
  width: 60%;
  display: inline-block;
  vertical-align: top;
}

.detail-map-div {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
}

.map-container {
  width: 100%;
  max-width: 100%;
  height: 500px;
}

.detail-carrousel-div {
  margin-top: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.detail-comments-div {
  margin-top: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.detail-comments-form {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.detail-textarea {
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #73AD21;
  width: 100%;
  margin-top: 5px;
  resize: none;
}

.detail-textarea:focus,
.detail-button-comment:focus,
.detail-button:focus {
  outline:0;
}

.detail-button-comment {
  background-color: #0B0B3B;
  border-radius: 2px;
  border: 1px solid #0B0B3B;
  color: white;
  padding: 5px;
  width: 100%;
  margin-top: 10px;
}

.detail-comment-user-div {
  border: solid 1px #6E6E6E;
  box-shadow: 10px 10px 5px #888888;
  padding: 5px;
  margin-top: 20px;
  vertical-align: top;
  width: 48%;
  display: inline-block;
}

.detail-comment-user-div:nth-child(odd) {
    margin-right: 3%;
}
