<template name="detail">
  {{#each property}}
  <h2 class="text-center">{{name}}</h2>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
      {{#each images}}
    <li data-target="#myCarousel" data-slide-to="{{@index}}" class="{{#if isFirst}}active{{/if}}"></li>
      {{/each}}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {{#each images}}
    <div class="item {{#if isFirst}}active{{/if}}" id="item{{@index}}">
      <img src="{{.}}" />
    </div>
    {{/each}}
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  <hr>
  <h4>Charactersitics</h4>
  <div class="row">
    <div class="col-xs-6 form-group">
      <label>Price:</label> {{price}} €{{#if isRental}}/month{{/if}}
    </div>
    <div class="col-xs-6 form-group">
      <label>Views:</label> {{views}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 form-group">
      <label>Address:</label> {{address}}, {{city}}, {{zipcode}}
    </div>
    <div class="col-xs-6 form-group">
      <label>Type:</label> {{type}}
    </div>
  </div>
  <hr>
  <h4>Description</h4>
  <div class="row">
    <div class="col-xs-12 form-group">
      {{description}}
    </div>
  </div>
  <hr>
  <h4>Location</h4>
  <div class="row">
    <div class="col-xs-12 form-group">
      <div class="map-container">
        {{> googleMap name="locationProperty" options=locationPropertyOptions}}
      </div>
    </div>
  </div>
  {{/each}}
</template>
