<template name="detail">
  {{#with property}}
  <div class="detail-div">
    <h2 class="text-center">{{name}}</h2>

    <!-- Charactersitics -->
    <div class="detail-characteristics-owner-div">
      <div class="text-center text-uppercase">
        <h3>{{propertyType}}</h3>
      </div>
      <div class="detail-characteristics-div">
        <h4>Charactersitics</h4>
        <div>
          <span class="glyphicon glyphicon-euro"></span> {{price}} €{{#if isRental}}/month{{/if}}
        </div>
        <div>
          <span class="glyphicon glyphicon-home"></span> {{address}}, {{city}}, {{zipcode}}
        </div>
        <div>
          <span class="glyphicon glyphicon-globe"></span> {{area}} m<sup>2</sup>
        </div>
        <div>
          <span class="glyphicon glyphicon-eye-open"></span> {{views}} views
        </div>
      </div>
      {{#if userLogged}}

      <div class="detail-characteristics-div">
        <hr>
        <h4>Contact Info</h4>
        <div>
          <span class="glyphicon glyphicon-user"></span> {{owner.name}}
        </div>
        <div>
          <span class="glyphicon glyphicon-envelope"></span> {{owner.mail}}
        </div>
        <div>
          <span class="glyphicon glyphicon-phone"></span> {{owner.phone}}
        </div>
      </div>
      <div class="text-center">
        <button id="addRemoveFav" class="detail-button">
          <span class="glyphicon glyphicon-star {{#if isFav}}yellow{{/if}}">
          </span>{{#if isFav}} Remove Favorite{{else}} Add Favorite{{/if}}
        </button>
      </div>
    {{/if}}
    </div>
    <div class="detail-description-div">
      <!-- Description -->
      <h4>Description</h4>
      <div>
        <div>
          {{description}}
        </div>
      </div>
    </div>
    <div class="detail-map-div">
      <h4>Location</h4>
      {{> map}}
    </div>

    <div class="detail-carrousel-div">
      <hr>
      <h4>Gallery</h4>
      {{> photoCarrousel}}
  </div>

  <div class="detail-comments-div">
    <hr>
    <h4>Comments</h4>
    <div>
      {{> comment}}
      {{#if userLogged}}
      <div class="detail-comments-form">
        <div>
          <textarea id="comment" placeholder="Add a comment..." class="detail-textarea"></textarea>
        </div>
        <div>
          <input id="commentImageInput" type="file" />
        </div>
        <div>
          <button id="sendComment" class="detail-button-comment">Send</button>
        </div>
    </div>
      {{/if}}
    </div>
    </div>
    </div>
  {{/with}}

</template>
