<template name="index">
  <div class="row">
    <h2 class="text-center">Search properties</h2>
    <div class="col-xs-12 form-group text-center">
      <label class="radio-inline">
        <input type="radio" name="propertyType" value="sales">
        Sales
      </label>
      <label class="radio-inline">
        <input type="radio" name="propertyType" value="rental">
        Rentals
      </label>
    </div>
    <div class="input-container-center form-group">
      <input type="search" class="form-control" placeholder="Addres, Zip Code, City..."/>
    </div>
    <div class="form-group">
    <div class="col-sm-offset-3 col-xs-6 form-group">
      <button id="search" class="btn btn-primary form-control">Search</button>
    </div>
  </div>
  </div>
</template>
