<template name="index">
  <div class="search-div">
    <h2 class="search-title">Search properties</h2>
    <div>
      <div class="search-radio-container">
        <input type="radio" id="radio1" class="radio" name="propertyType" value="sale"/>
        <label for="radio1">Sale</label>
      </div>
      <div class="search-radio-container">
        <input type="radio" id="radio2" class="radio" name="propertyType" value="rental"/>
        <label for="radio2">Rental</label>
      </div>
    </div>
    <div>
      <input id="matchSearch" type="search" class="search-input" placeholder="Addres, Zip Code, City..."/>

    </div>

    <div>
      <button id="search" class="search-button {{#if isDisabled}}disabled{{/if}}">Search</button>
    </div>
  </div>
</template>
