/* CSS declarations go here */
.login-buttons-container {
  text-align: left;
}

#login-buttons {
  padding: 10px;
}

#login-buttons #login-sign-in-link, #login-buttons #login-name-link{
  color: white;
}

.alert-danger p, .alert-success {
  font-weight: bold;
}

.btn-primary {
  background-color: #088A85;
  color: white;
}

.btn-primary:hover{
  background-color: #0B4C5F;
  color: white;
}

.property-container {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  background-color: #BDBDBD;
  border: 2px solid white;
}

.property-container.col-xs-4 {
  padding-left: 0px;
  padding-right: 0px;
}

.property-container .col-xs-6 {
  padding-left: 0px;
  padding-right: 0px;
}

.property-container .info-container .col-xs-12 {
  padding: 10px;
}

.label-search-form {
  color: white;
}

.properties-container {
  margin: 20px;
}

.search-container {
  background-color: #0B615E
}

.center-content {
  text-align: center;
}

.center-block{
  margin-bottom: 15px;
}

.action-container {
  padding: 5px;
}

.yellow {
  color: yellow;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 35%;
  margin: auto;
}

.map-container {
  width: 100%;
  max-width: 100%;
  height: 500px;
}
