/* CSS declarations go here */
.login-buttons-container {
  text-align: left;
}

#login-buttons {
  padding: 10px;
}

#login-buttons #login-sign-in-link, #login-buttons #login-name-link{
  color: white;
}

.alert-danger p, .alert-success {
  font-weight: bold;
}

.btn-primary {
  background-color: #088A85;
  color: white;
}

.btn-primary:hover{
  background-color: #0B4C5F;
  color: white;
}
