<template name="propertyActions">
  {{#if isUserLogged}}
  <div class="row">
    <div class="col-xs-6">
      <h4>CREATE</h4>
      <button id="create" class="btn btn-primary">Create</button>
    </div>

    <div class="col-xs-6">
      <h4>UPDATE</h4>
      <input type="text" id="propertyIdUpdate" class="form-control"/>
      <button id="updateButton" class="btn btn-primary">Update</button>
    </div>
  </div>
  {{/if}}
  <div class="row">
    <div class="col-xs-6">
      <h4>INDEX</h4>
      <button class="btn btn-primary">Sales</button>
      <button class="btn btn-primary">Rentals</button>
      {{#if isUserLogged}}
      <button class="btn btn-primary">Favorites</button>
      {{/if}}
    </div>

    <div class="col-xs-4">
      <h4>SHOW</h4>
      <input type="text" id="propertyIdShow" class="form-control"/>
      <button id="showButton" class="btn btn-primary">Show</button>
    </div>
  </div>
</template>
