<template name="properties">
    <div>
      <div class="properties-filter-div">
        <div class="properties-filter-params-div">
          <label>Property type: </label>
          <p class="text-uppercase">{{paramPropertyTypeValue}}</p>
        </div>
        <div class="properties-filter-params-div">
          <label>Search param: </label>
          <p class="text-uppercase">{{paramPropertyMatchSearchValue}}</p>
        </div>
        <div class="properties-filter-params-div">
          <label>Order by</label>
          <select class="properties-filter-select" id="orderSelect">
              {{#each orderOptionsList}}
                <option value="{{value}}">{{name}}</option>
              {{/each}}
          </select>
        </div>
      </div>
      <div class="properties-list-div">
        {{#if emptyList}}
        <div class="alert alert-info">
            No results found!
        </div>
        {{/if}}
      {{#each results}}
        <div id="show" class="properties-property-div">
          <div class="">
            <div class="properties-property-image-div"><img src="{{images.[0]}}" width="100%"/></div>
            <div class="properties-property-characteristics-div">
              <div><h3>{{name}}</h3></div>
              <div><label>Address:&nbsp;</label><p> {{address}}</p></div>
              <div><label>Price:&nbsp;</label><p> {{price}} €{{#if isRental}}/month{{/if}}</p></div>
              <div><label>Area:&nbsp;</label><p> {{area}} m<sup>2</sup></p></div>
            </div>
          </div>
          <div class="properties-property-button-fav-div">
            {{#if userLogged}}
              <button id="addRemoveFav" class="properties-button">
                <span class="glyphicon glyphicon-star {{#if isFav}}yellow{{/if}}">
                </span>
              </button>
              {{/if}}
          </div>


        </div>
      {{/each}}
      </div>
    </div>
</template>
